/*Estilos del componente*/

.beer-list {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.header-control {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    /*gap: .5rem;*/
}

.admin-bar__bienvenida, .usuario-bar__bienvenida{
    position: absolute;
    background-color: rgba(224, 224, 224, 0.295);
    border: 1px solid rgba(224, 224, 224, 0.295);
    border-radius: 8px;
    align-self: flex-start;
    left: 1.8rem;
}

.header-control__logout{
    position: absolute;
    left: 0rem;
    top:0;
    font-size: 1.5rem;
    cursor: pointer;
}

.header-control__logout:hover{
   color:rgb(184, 50, 50);
   transition: .75s;
}

.header-control__logout:hover + .usuario-bar__bienvenida, .header-control__logout:hover + .admin-bar__bienvenida{
   color:rgb(184, 50, 50);
   background-color: rgba(255, 255, 255, 0.295);
   border: 1px solid rgba(184, 50, 50, 0.295);
   transition: .75s;
}

/*Estilos Admin*/

.btn.btnCrear,
.btnCarrito,
.btn-favoritos {
    background-color: rgba(255, 255, 255, 0.952);
    border-color: rgb(156, 123, 13);
    border-radius: 4px;
    width: 4rem;
    margin-left: .5rem;
}

.btn.btnCrear:hover,
.busqueda:hover,
.btnCarrito:hover {
    background-color: rgb(156, 123, 13);
    border-color: rgb(255, 255, 255);
    color: white;
    border-radius: 4px;
    transition: .75s;
}

.btn-favoritos{
    border: 1px solid;
    border-color: rgb(54, 54, 54);
}


.btn-favoritos>.fa-heart{
    color:rgb(156, 123, 13)
}

.btn-favoritos:hover {
    border: 0;
    background-color:  rgba(54, 54, 54, .80);
    color: white;
    border-radius: 4px;
    transition: .75s;
}

.btn.btnCrear:hover>.fa-beer,
.btn.btnCrear:hover>.fa-plus-circle,
.busqueda:hover>.fa-solid,
.btnCarrito:hover>.fa-cart-shopping,
.btn-favoritos:hover>.fa-heart {
    color: white;
    transition: 0s
}

.btnCarrito:hover>.cantidad {
    color: rgb(54, 54, 54);
    font-weight: bold;
    transition: 0s
}

.btn.btnCrear:not(:hover),
.btnCarrito:not(:hover) {
    transition: .75s
}

.btnCarrito {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cantidad {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    color: white;
    padding: 1px 6px;
    border-radius: 50%;
    margin: .45rem 1.2rem;
    text-align: center;
}

.fa-cart-shopping,
.btn-favoritos>.fa-heart {
    font-size: 1.5rem;
}

/*Estilos del Filtro*/

.filtros,
.admin-bar {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    justify-content: flex-end;
}

.usuario-bar{
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-end;
}



/*Header Catalogo*/

.header-catalogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*Estilos del Catalogo*/


.catalogo {
    padding: .2rem .2rem .2rem .2rem;
    width: 100%;
    height: 61.2rem;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    width: 1206.38px
}


.cards-wrapper {
    padding: .5rem .2rem 0 .2rem;
    gap: 1rem;
    height: 31rem;
    display: grid;
    grid-template-columns: repeat(1fr);
}

.carousel-indicators {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -2.5rem;
}

.carousel-indicators>button {
    background-color: rgba(54, 54, 54, 0.486);
    /*background-color:rgb(156, 123, 13)*/
}

.carousel .carousel-item {
    transition-duration: 1.75s;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    justify-content: center;
    height: 30rem;
}

.portada {
    display: flex;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    justify-content: center;
}

.card:hover {
    box-shadow: -1px 1px 5px 2px;
    color: #4e4e4e;
    transition: .75s;
    cursor: pointer;
}

.card:hover>.portada {
    transform: rotateY(180deg);
}

.card .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0rem 1rem 0rem 1rem;
    border-bottom: 1px solid #acabab;
    transform: rotateY(180deg);
    /*position:relative*/
}

.card-img-top,
.info {
    height: 14rem;
    position: absolute;
    backface-visibility: hidden;
    position: relative;
}

.card-img-top {
    object-fit: cover;
}

.favoritos {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.card-body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center; /*regula la altura de las estadisticas vitales de la birra*/
    margin: .5rem;
    padding: 0;
}

.card-title {
    text-align: center;
}

.btn,
.barraDeBusqueda {
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    text-decoration: none;
    border-radius: 4px;
    width: 8rem;
    text-align: center;
    padding: .5rem;
    border-color: rgb(54, 54, 54);
}

.btnCarrito, .btnLogin {
    width: 4rem;
}

.btn-agregar {
    margin-bottom: 1.5rem;
}

.btn:hover {
    background-color: rgba(54, 54, 54, .80);
    color: rgb(255, 255, 255);
    transition: .75s;
}

.admin-card {
    display: flex;
    justify-content: flex-end;
    padding: .5rem .5rem 0rem 1rem;
}

.editar,
.borrar,
.favs,
.nofavs {
    background-color: rgba(255, 255, 255, 0.01);
    border-color: rgba(54, 54, 54, .001);
    width: 1.75rem;
    text-align: center;
}

.fa-pencil,
.fa-trash {
    color: rgba(54, 54, 54, .80);
}

.fa-pencil:hover,
.fa-trash:hover,
.fa-regular:hover {
    color: rgb(156, 123, 13);
    transition: .75s;
}

.fa-regular,
.fa-heart {
    color: rgba(54, 54, 54, 0.2);
}

.favs {
    position: absolute;
    z-index: 1;
}

.nofavs {
    position: absolute;
    z-index: 2;
}

.fa:not(:hover),
.fa-regular:not(:hover),
.btn:not(:hover),
.card:not(:hover),
.busqueda:not(:hover),
.btn-favoritos:not(:hover),
.header-control__logout:not(:hover),
.header-control__logout:not(:hover) + .usuario-bar__bienvenida,
.header-control__logout:not(:hover) + .admin-bar__bienvenida {
    transition: .75s;
}

.fa-beer,
.fa-plus-circle,
.fa-solid,
.fa-favs,
.fa-cart-shopping {
    color: rgb(156, 123, 13);
}

.fa-solid {
    align-self: center;
}

.modalBorrarCerveza-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-danger:hover {
    background-color: rgb(184, 50, 50);
}

.barraDeBusqueda {
    border-radius: 6px;
    border-color: rgb(156, 123, 13);
    text-align: left;
}

.busquedaFallida {
    justify-self: center;
}