/*Estilos del componente*/

.beer-list {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*Estilos Admin*/

.btn.btnCrear {
    background-color: rgba(255, 255, 255, 0.952);
    border-color: rgb(156, 123, 13);
    border-radius: 4px;
    /*padding: .3rem .7rem .3rem .7rem;*/
    width: 4rem;
}

.btn.btnCrear:hover {
    background-color: rgb(156, 123, 13);
    border-color: rgb(255, 255, 255);
    color: white;
    border-radius: 4px;
    transition: .75s;
}

.btn.btnCrear:hover>.fa-beer,
.btn.btnCrear:hover>.fa-plus-circle {
    color: white;
    transition: 0s
}




.btn.btnCrear:not(:hover) {
    transition: .75s
}

/*Estilos del Filtro*/

.filtros,
.admin-bar {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: flex-end;
}


/*Estilos del Catalogo*/

.catalogo {
    padding: .2rem .2rem .2rem .2rem;
    display: grid;
    width: 100%;
    height: 61.2rem;
    overflow-y: scroll;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
}

.card {
    display: flex;
    justify-content: center;
    height: 30rem;
}

.portada {
    display: flex;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    justify-content: center;
}

.card:hover {
    box-shadow: -1px 1px 5px 2px;
    color: #4e4e4e;
    transition: .75s;
    cursor: pointer;
}

.card:hover>.portada {
    transform: rotateY(180deg);
}

.card .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0rem 1rem 0rem 1rem;
    border-bottom: 1px solid #acabab;
    transform: rotateY(180deg);
}

.card-img-top,
.info {
    height: 14rem;
    position: absolute;
    backface-visibility: hidden;
    position: relative;
}

.card-body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: .5rem;
}

.card-title {
    text-align: center;
}

.btn {
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    text-decoration: none;
    border-radius: 4px;
    width: 8rem;
    text-align: center;
    padding: .5rem;
    border-color: rgb(54, 54, 54);
    ;
}

.btn:hover {
    background-color: rgba(54, 54, 54, .80);
    color: rgb(255, 255, 255);
    transition: .75s;
}

.modoAdmin {
    display: flex;
    justify-content: flex-end;
    padding: .5rem .5rem 0rem 1rem;
}

.editar,
.borrar {
    background-color: rgb(255, 255, 255);
    border-color: rgba(54, 54, 54, .001);
    border-radius: 100%;
    width: 1.75rem;
    text-align: center;
}

.fa {
    color: rgba(54, 54, 54, .80);
}

.fa:hover {
    color: rgb(156, 123, 13);
}

.fa:not(:hover),
.btn:not(:hover),
.card:not(:hover) {
    transition: .75s;
}

.fa-beer,
.fa-plus-circle {
    color: rgb(156, 123, 13);
}

.modalBorrarCerveza-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-danger:hover{
    background-color: rgb(184, 50, 50);
}